---
import { astroI18n, t, l } from "astro-i18n";
import Layout from "../../components/Layout.astro";
import Header from "../../components/Header.astro";
import Footer from "../../components/Footer.astro";
import PetitionTextEn from "./PetitionTextEn.md";
import PetitionTextFr from "./PetitionTextFr.md";

astroI18n.init(Astro);

const { langCode } = astroI18n;
---

<Layout title={t("petitionTextHeading")}>
  <Header />
  <main>
    <section class="go-home">
      <a href={l("/")}>👈 {t("goHome")}</a>
    </section>
    <section class="narrow">
      {langCode === "en" ? <PetitionTextEn /> : <PetitionTextFr />}
    </section>
    <Footer />
  </main>
</Layout>

<style></style>
