---
import { astroI18n, t, l } from "astro-i18n";

import Layout from "../components/Layout.astro";
import ProgressSteps from "../components/ProgressSteps.astro";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import StayConnected from "../components/StayConnected.astro";
import CardLinks from "../components/CardLinks.astro";
// import Events from "../components/Events.astro";

astroI18n.init(Astro);
---

<Layout title={null}>
  <Header />
  <main>
    <section>
      <h2 style="text-wrap: balance;" set:html={t("homeHeading")} />
      <p style="text-wrap: balance;">
        <span style="white-space: pre-line;">{t("homeBody")}</span>
      </p>
      <p>
        <strong>
          <a href={l("consultation")} class="button">
            {t("consultationLinkText")}
          </a>
        </strong>
      </p>
    </section>

    <section id="progress-steps">
      <h2>{t("stepsHeading")}</h2>
      <ProgressSteps />
    </section>

    <section>
      <CardLinks />
    </section>

    <section id="stay-connected">
      <h2>{t("stayConnected")}</h2>
      <StayConnected />
    </section>

    <Footer />

    <style>
      section > h2 {
        margin-top: 0;
      }
    </style>
  </main>
</Layout>
