---
import { astroI18n, t, l } from "astro-i18n";

import Layout from "../components/Layout.astro";
import ProgressSteps from "../components/ProgressSteps.astro";
import PetitionTextFr from "../components/PetitionTextFr.md";
import PetitionTextEn from "../components/PetitionTextEn.md";
import InspirationAndReading from "../components/InspirationAndReading.astro";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import StayConnected from "../components/StayConnected.astro";
import HowToSign from "../components/HowToSign.astro";

astroI18n.init(Astro);

const { langCode } = astroI18n;
---

<Layout title={t("siteName")}>
  <main>
    <header>
      <Header />
    </header>

    <div class="section">
      <h2>{t("howToSignHeading")}</h2>
      <HowToSign />
    </div>

    <div id="progress-steps" class="section">
      <h2>{t("stepsTitle")}</h2>
      <ProgressSteps />
    </div>

    <div id="petition-text" class="section">
      <h2>{t("petitionTextHeading")}</h2>
      {langCode === "en" ? <PetitionTextEn /> : <PetitionTextFr />}

      <a href={t("petitionUrl")} target="_blank">
        <span>{t("seeCta")} {t("signCtaSubtext")}</span><br />
      </a>
    </div>

    <div id="stay-connected" class="section">
      <h2>{t("stayConnected")}</h2>
      <StayConnected />
    </div>

    <div id="inspiration-and-reading" class="section">
      <h2>{t("inspirationAndReading")}</h2>
      <InspirationAndReading />
    </div>

    <footer>
      <Footer />
    </footer>
  </main>
</Layout>

<style>
  :root {
    --header-padding: 4rem;
    --header-text-drop-shadow: drop-shadow(0px 5px 5px #00000050);
  }
  header {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: white;
    padding-bottom: var(--header-padding);
    margin-bottom: 2rem;

    background-image: url("/img/header-static.jpg");
    background-size: cover;
    background-position: center;
  }

  .section > h2 {
    margin-top: 0;
  }
  #progress-steps {
  }

  #petition-text {
    line-height: 1.6;
  }

  .petition-button-container {
    display: flex;
  }

  #inspiration-and-reading {
    display: flex;
    flex-direction: column;
  }
  footer {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-top: 2rem;
    margin-top: 3rem;
    text-align: center;
  }
</style>
