---
import { astroI18n, t, l } from "astro-i18n";

import Layout from "../components/Layout.astro";
import ProgressSteps from "../components/ProgressSteps.astro";
import InspirationAndReading from "../components/InspirationAndReading.astro";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import StayConnected from "../components/StayConnected.astro";
import HowToSign from "../components/HowToSign.astro";

astroI18n.init(Astro);

const { langCode } = astroI18n;
---

<Layout title={t("siteName")}>
  <Header />
  <main>
    <section>
      <h2>{t("howToSignHeading")}</h2>
      <HowToSign />
    </section>

    <section id="progress-steps">
      <h2>{t("stepsTitle")}</h2>
      <ProgressSteps />
    </section>

    <section id="petition-text">
      <h2>{t("petitionTextHeading")}</h2>
      <p>
        <a href={l("/petition", null, langCode)}> {t("petitionTextCta")}</a>
      </p>
    </section>

    <section id="questions-and-answers">
      <h2>{t("questionsAndAnswersHeading")}</h2>
      <p>
        {t("questionsAndAnswersBody")}
      </p>
      <p>
        <a href={l("/questions-reponses", null, langCode)}>
          {t("questionsAndAnswersCta")}</a
        >
      </p>
    </section>

    <section id="around-the-world">
      <h2>{t("aroundTheWorldHeading")}</h2>
      <p>{t("aroundTheWorldBody")}</p>
      <p>
        <a href={l("/a-travers-le-monde", null, langCode)}
          >{t("aroundTheWorldCta")}</a
        >
      </p>
    </section>

    <section id="stay-connected">
      <h2>{t("stayConnected")}</h2>
      <StayConnected />
    </section>

    <section id="inspiration-and-reading">
      <h2>{t("inspirationAndReading")}</h2>
      <InspirationAndReading />
    </section>
  </main>
  <Footer />
</Layout>

<style>
  section > h2 {
    margin-top: 0;
  }
  #progress-steps {
  }

  #petition-text {
    line-height: 1.6;
  }

  .petition-button-container {
    display: flex;
  }

  #inspiration-and-reading {
    display: flex;
    flex-direction: column;
  }
</style>
