---
import { astroI18n, t, l } from "astro-i18n";

import Logo from "../components/Logo.astro";
import Layout from "../components/Layout.astro";
import ProgressSteps from "../components/ProgressSteps.astro";
import PetitionTextFr from "../components/PetitionTextFr.md";
import PetitionTextEn from "../components/PetitionTextEn.md";
import PeaceSign from "../components/PeaceSign.astro";
import SignCta from "../components/SignCta.astro";
import VolunteerCta from "../components/VolunteerCta.astro";
import LangSwitcher from "../components/LangSwitcher.astro";
import InspirationAndReading from "../components/InspirationAndReading.astro";

astroI18n.init(Astro);

const { defaultLangCode, supportedLangCodes, langCode } = astroI18n;
const langCodes = [defaultLangCode, ...supportedLangCodes];
const otherLangCodes = langCodes.filter(
  (otherLangCode) => otherLangCode !== langCode
);
---

<Layout title={t("siteName")}>
  <main>
    <header>
      <div id="lang-switcher">
        <LangSwitcher {otherLangCodes} />
      </div>

      <div id="logo">
        <Logo />
      </div>

      <div id="header-description">
        <h2>{t("headerDescription")}</h2>
      </div>
    </header>

    <div id="petition-text" class="narrow">
      <!-- <h2>{t('petitionTextHeading')}</h2> -->
      {langCode === "en" ? <PetitionTextEn /> : <PetitionTextFr />}
    </div>

    <div id="sign-cta" class="cta">
      <SignCta />
    </div>

    {
      /* <div id="volunteer-cta" class="cta">
      <VolunteerCta />
    </div> */
    }

    <div id="progress-steps" class="narrow">
      <h2>{t("stepsTitle")}</h2>
      <ProgressSteps />
    </div>

    <div id="inspiration-and-reading" class="narrow">
      <h2>{t("inspirationAndReading")}</h2>
      <InspirationAndReading />
    </div>

    {
      /* examples of ped streets in canada/america (above)

    sponsors / supporters
    ama verdun, businesses, orgs
    youtube channels? */
    }

    {/* ostrich legs */}

    <footer>
      <div id="peace-sign">
        <PeaceSign />
      </div>

      <small>
        {t("footerNoticeUnaffiliated")} SDC Wellington.
      </small>

      <small>
        <a href="mailto:lawellpietonne@gmail.com"
          ><strong>@</strong> {t("contactUs")}</a
        >
      </small>
    </footer>
  </main>
</Layout>

<style>
  :root {
    --header-padding: 4rem;
    --header-text-drop-shadow: drop-shadow(0px 5px 5px #00000050);
  }
  header {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    /* max-width: 1180px; */
    color: white;
    padding-bottom: var(--header-padding);
    margin-bottom: 2rem;

    background-image: url("/img/header-static.jpg");
    background-size: cover;
    background-position: center;
  }

  #lang-switcher {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding: 0.25rem 0.5rem var(--header-padding);
  }

  #logo {
    margin-bottom: 2rem;
    filter: var(--header-text-drop-shadow);
  }

  #peace-sign {
    display: block;
    font-size: 2rem;
  }

  #header-description {
    max-width: 30rem;
    margin: 0 1.5rem;
    filter: var(--header-text-drop-shadow);
  }

  #progress-steps {
  }

  #petition-text {
    line-height: 1.6;
  }

  #inspiration-and-reading {
    display: flex;
    flex-direction: column;
  }

  .cta {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 2rem;
    gap: 0.5rem;
  }

  .narrow {
    max-width: auto;
    margin: 1rem;
    @media (min-width: 980px) {
      max-width: 60vw;
      margin: 1rem auto;
      flex-direction: row;
      justify-content: space-between;
    }
  }

  footer {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-top: 2rem;
    margin-top: 3rem;
    text-align: center;
  }
</style>
