---
import { astroI18n, t, l } from "astro-i18n"

import Logo from '../components/Logo.astro';
import Layout from '../components/Layout.astro';
import Steps from '../components/Steps.astro';
import PetitionTextFr from '../components/PetitionTextFr.md';
import PeaceSign from '../components/PeaceSign.astro';
import SignCta from '../components/SignCta.astro';
import VolunteerCta from '../components/VolunteerCta.astro';

astroI18n.init(Astro)
---

<Layout title={t('siteName')}>
	<main>
    <header>
      <!-- todo: language picker -->
      <div id="logo">
        <Logo />
      </div>
      <div id="peace-sign">
        <PeaceSign />
      </div>
      <h2 id="header-description">{t('headerDescription')}</h2>
    </header>

    <div id="steps">
      <h2>{t('stepsTitle')}</h2>
      <Steps />
    </div>
    
    <div id="petition-text" class="narrow">
      <PetitionTextFr />
    </div>

    <div id="sign-cta" class="cta">
      <SignCta />
    </div>

    <div id="volunteer-cta" class="cta">
      <VolunteerCta />
    </div>

    <div id="inspiration" class="narrow">
      <h2>Inspiration and reading</h2>
      <a href="https://www.google.com/search?q=pourquoi+les+rues+pietonnes">Pourquoi des rue piétonnes? [fix link]</a>
    </div>

    <!-- examples of ped streets in canada/america (above)

    sponsors / supporters
    ama verdun, businesses, orgs
    youtube channels? -->

    <!-- ostrich legs -->

    <footer>
      <small>{t('footerNoticeUnaffiliated')} <a href="https://www.promenadewellington.com/en/">SDC Wellington</a>.</small> 
    </footer>
	</main>
</Layout>

<style>
  header {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  #logo {
    margin-bottom: 2rem;
  }

  #peace-sign {
    display: block;
    font-size: 2rem;
    margin: 0;
  }

  #header-description {
    max-width: 30rem;
  }

  #steps {
    margin: 3rem auto;
    max-width: 60vw;
  }

  #petition-text {
    line-height: 1.6;
  }

  .cta {
    display: flex;
    flex-direction: column;
    margin: 3rem;
    text-align: center;
  }

  .narrow {
    max-width: 60vw;
    margin: 1rem auto;
  }

  footer {
    text-align: center;
  }
</style>