---
---

<nav class="card-links">
  <slot />
</nav>

<style>
  .card-links {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1rem;
    list-style: none;
    max-width: 100%;

    @media (min-width: 580px) {
      grid-template-columns: 1fr 1fr;
    }

    @media (min-width: 980px) {
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }
  }
</style>
