---
import { t } from "astro-i18n";
import type { EventInfo } from "../../types";
import { astroI18n } from "astro-i18n";

const { langCode } = astroI18n;

const events: EventInfo[] = [
  {
    name: {
      fr: "Rencontre à la plage 🏝️",
      en: "Beach day meetup 🏝️",
    },
    location: {
      fr: `Plage urbaine de Verdun, 4110 Bd LaSalle`,
      en: `Plage urbaine de Verdun / Verdun Beach, 4110 Bd LaSalle`,
    },
    description: {
      fr: `Venez nous rejoindre à la plage ! C'est l'occasion de partager vos idées sur votre vision de la Wellington piétonne avec d'autres sympathisants de notre initiative.`,
      en: `Come and join us at the beach to share your vision for Wellington with fellow supporters of the initiative.`,
    },
    href: "https://www.facebook.com/events/8076263022397115",
    dateStart: new Date("2024-07-27T15:00:00-04:00"),
    dateEnd: new Date("2024-07-27T18:00:00-04:00"),
  },
];
---

{events.length ? <h2>{t("upcomingEvents")}</h2> : null}
<ul>
  {
    events.map(({ name, location, description, href, dateStart, dateEnd }) => (
      <li>
        <h3>
          {href ? (
            <a href={href} target="_blank">
              {name[langCode]}
            </a>
          ) : (
            name[langCode]
          )}
        </h3>
        <span>
          {Intl.DateTimeFormat(t("isoLangCode"), {
            year: "numeric",
            month: "long",
            weekday: "long",
            day: "numeric",
            hour: "numeric",
            timeZone: "America/Montreal",
          }).formatRange(dateStart, dateEnd)}
        </span>
        <br />
        <em>{location[langCode]}</em>
        <br />
        <span>{description[langCode]}</span>
        <br />
      </li>
    ))
  }
</ul>

<style>
  li {
    list-style: none;
    padding-left: 0;
  }

  h3 {
    margin-block: 0;
  }
</style>
