---
import { t } from "astro-i18n";
import PeaceSign from "./PeaceSign.astro";
---

<footer>
  <div id="peace-sign">
    <PeaceSign />
  </div>

  <small>
    {t("footerNoticeUnaffiliated")} SDC Wellington.
  </small>

  <small>
    <a href="mailto:allo@lawellpietonne.com">
      <strong aria-hidden="true">@</strong>
      {t("contactUs")}
    </a>
  </small>
</footer>

<style>
  footer {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-top: 2rem;
    margin-top: 3rem;
    text-align: center;
  }

  #peace-sign {
    display: block;
    font-size: 2rem;
  }
</style>
