---
import { astroI18n, t } from "astro-i18n";
import LangSwitcher from "./LangSwitcher.astro";
import Logo from "./Logo.astro";

const { defaultLangCode, supportedLangCodes, langCode } = astroI18n;
const langCodes = [defaultLangCode, ...supportedLangCodes];
const otherLangCodes = langCodes.filter(
  (otherLangCode) => otherLangCode !== langCode
);
---

<header>
  <div id="lang-switcher">
    <LangSwitcher {otherLangCodes} />
  </div>

  <div id="logo">
    <Logo />
  </div>

  <div id="header-description">
    <h2>{t("headerDescription")}</h2>
  </div>
</header>

<style>
  :root {
    --header-padding: 4rem;
    --header-text-drop-shadow: drop-shadow(0px 5px 5px #00000050);
  }
  header {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: white;
    padding-bottom: var(--header-padding);
    margin-bottom: 2rem;

    background-image: url("/img/header-static.jpg");
    background-size: cover;
    background-position: center;
  }

  #lang-switcher {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding: 0.25rem 0.5rem var(--header-padding);
  }

  #logo {
    margin-bottom: 2rem;
    filter: var(--header-text-drop-shadow);
  }

  #header-description {
    max-width: 30rem;
    margin: 0 1.5rem;
    filter: var(--header-text-drop-shadow);
  }
  /* */
</style>
