---
import { astroI18n, t, l } from "astro-i18n";
import LangSwitcher from "./LangSwitcher.astro";

const { defaultLangCode, supportedLangCodes, langCode } = astroI18n;
const langCodes = [defaultLangCode, ...supportedLangCodes];
const otherLangCodes = langCodes.filter(
  (otherLangCode) => otherLangCode !== langCode
);
const isHome = Astro.url.pathname.replace("/en", "") === "/";
---

<header>
  <div id="header-links">
    <div>
      {
        isHome ? null : (
          <a class="go-home" href={l("/")}>
            {t("home")}
          </a>
        )
      }
    </div>
    <LangSwitcher {otherLangCodes} />
  </div>

  <a href={l("/", {}, langCode)} class:list={isHome ? ["disabled"] : []}>
    <img
      class="biesinger-la-well"
      src="/img/biesinger-la-well.png"
      alt="La Well Piétonne"
      width="5850"
      height="4026"
    />
  </a>

  <a href={l("/", {}, langCode)} class:list={isHome ? ["disabled"] : []}>
    <img
      class="la-well-pietonne-logo"
      src="/img/la-well-pietonne-logo-alt.svg"
      alt="La Well Piétonne"
      aria-hidden="true"
      width="1097"
      height="114"
    />
  </a>

  {isHome ? <h3 class="header-description">{t("headerDescription")}</h3> : null}
</header>

<style>
  header {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    position: relative;
    margin-block-end: 1em;

    @media (min-width: 720px /* --narrow-width */) {
      max-width: var(--narrow-width);
      margin: 0 auto;
      margin-block-end: 2em;
    }
  }

  #header-links {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    position: absolute;
    padding: 0.5em 3.75%;
    z-index: 1;
    font-weight: bold;
  }

  .biesinger-la-well {
    mix-blend-mode: multiply;
    max-width: 100%;
    height: auto;
    aspect-ratio: 5850 / 4026;
  }

  .la-well-pietonne-logo {
    padding: 0 4%;
    max-width: 100%;
    height: auto;
    aspect-ratio: 1097 / 114;

    &:hover {
      opacity: 0.8;
    }
  }

  a {
    display: block;

    &.disabled {
      pointer-events: none;
    }
  }

  .header-description {
    margin-block: 0.5em 0;
    padding: 0 4%;

    @media (min-width: 460px) {
      white-space: pre-line;
    }
  }
</style>
