---
import { astroI18n, t } from "astro-i18n";
import { SigningEvent } from "../../types";

interface Props {
  event: SigningEvent;
}

const { langCode } = astroI18n;
const { event } = Astro.props as Props;
const { name, location, href, dateStart, dateEnd } = event;
---

<li>
  {
    href ? (
      <a href={href} target="_blank">
        {name[langCode]}
      </a>
    ) : (
      <strong>{name[langCode]}</strong>
    )
  }
  <br />
  <span>{location}</span><br />
  <span
    >{
      Intl.DateTimeFormat(t("isoLangCode"), {
        year: "numeric",
        month: "long",
        weekday: "long",
        day: "numeric",
        hour: "numeric",
        timeZone: "America/Montreal",
      }).formatRange(dateStart, dateEnd)
    }</span
  ><br />
</li>

<style>
  li {
    list-style: none;
  }
</style>
