---
import { t } from "astro-i18n";
import HowToSignLocationItem from "./HowToSignLocationItem.astro";
import HowToSignEventItem from "./HowToSignEventItem.astro";

const locations = [
  {
    name: "Chez Robin marché local",
    href: "https://goo.gl/maps/2kjX6xBsVRTXp5vL6",
    address: "3819 Rue Wellington",
  },
  {
    name: "Café Jardin",
    href: "https://goo.gl/maps/fVEVmAE5ybt4dPSU9",
    address: "4437 Rue Wellington",
  },
  {
    name: "Falafel Yoni",
    href: "https://goo.gl/maps/7bsW9Fdf876qyhKW6",
    address: "4549 Rue Wellington",
  },
  {
    name: "Boutique Brock Art",
    href: "https://goo.gl/maps/iJfwvBPW1k5SNJ8E9",
    address: "4835 Rue Wellington",
  },
];

const events = [
  // {
  //   lang: {
  //     fr: {
  //       name: "Coin de l'Église et Wellington",
  //     },
  //     en: {
  //       name: "Corner of de l'Église and Wellington",
  //     },
  //   },
  //   href: "https://www.instagram.com/p/CsE1o9ivkON/",
  //   dateStart: new Date("2023-05-13T13:00:00-04:00"),
  //   dateEnd: new Date("2023-05-13T17:00:00-04:00"),
  // },
];
---

<p>
  {t("howToSign")}
</p>
<h3>{t("atASupportingBusiness")}</h3>

<ul>
  {locations.map((location) => <HowToSignLocationItem {...location} />)}
</ul>
{events.length ? <h3>{t("onTheStreet")}</h3> : null}
<ul>
  {events.map((location) => <HowToSignEventItem {...location} />)}
</ul>

<style>
  @media (min-width: 980px) {
    ul {
      columns: 2;
      width: 80%;
    }
  }
  li {
    padding-left: 0;
  }
</style>
