---
import { t } from "astro-i18n";
import HowToSignLocationItem from "./HowToSignLocationItem.astro";
import HowToSignEventItem from "./HowToSignEventItem.astro";

const locations = [
  {
    name: "Chez Robin marché local",
    href: "https://goo.gl/maps/2kjX6xBsVRTXp5vL6",
    address: "3819 rue Wellington",
  },
  {
    name: "Café Jardin",
    href: "https://goo.gl/maps/fVEVmAE5ybt4dPSU9",
    address: "4437 rue Wellington",
  },
  {
    name: "Falafel Yoni",
    href: "https://goo.gl/maps/7bsW9Fdf876qyhKW6",
    address: "4549 rue Wellington",
  },
  {
    name: "Boutique Brock Art",
    href: "https://goo.gl/maps/iJfwvBPW1k5SNJ8E9",
    address: "4835 rue Wellington",
  },
  {
    name: "Atelier Wellington Cycle & Cie",
    href: "https://goo.gl/maps/zYPU4yr1EuHeYWaz8",
    address: "4136 rue Wellington",
  },
  {
    name: "Pattes et Griffes",
    href: "https://goo.gl/maps/htLeafPuvnZaEhSC7",
    address: "4702 rue Wellington",
  },
  {
    name: "La Mistinguette",
    href: "https://goo.gl/maps/r68hMuXSrAWjrGj86",
    address: "4537 rue Wellington",
  },
  {
    name: "Alice & Theo",
    href: "https://goo.gl/maps/K4XXE6bg9ijwNhuG6",
    address: "3870 rue Wellington",
  },
];

const events = [
  {
    lang: {
      fr: {
        name: "Collecte de signatures",
        location: `coin rue Wellington / de l'Église`,
      },
      en: {
        name: "Signature collection",
        location: `Corner of Wellington / de l'Église`,
      },
    },
    dateStart: new Date("2023-07-29T13:00:00-04:00"),
    dateEnd: new Date("2023-07-29T17:00:00-04:00"),
  },
];
---

<p>
  {t("howToSign")}
</p>

<h3>{t("atASupportingBusiness")}</h3>
<ul class="locations">
  {locations.map((location) => <HowToSignLocationItem {...location} />)}
</ul>

{events.length ? <h3>{t("onTheStreet")}</h3> : null}
<ul>
  {events.map((event) => <HowToSignEventItem {...event} />)}
</ul>

<h3>{t("online")}</h3>
<ul>
  <li>
    <a href={t("petitionUrl")} target="_blank">{t("petitionLinkText")}</a><br />
    <small class="online-petition-notice">{t("onlinePetitionNotice")}</small>
  </li>
</ul>

<style>
  @media (min-width: 980px) {
    ul.locations {
      columns: 2;
      width: 80%;
    }
  }
  li {
    list-style: none;
    padding-left: 0;
  }

  .online-petition-notice {
    white-space: pre-line;
  }
</style>
