---
import { SigningLocation } from "../../types";

interface Props {
  location: SigningLocation;
}

const { location } = Astro.props as Props;
const { href, name, address } = location;
---

<li>
  <a href={href} target="_blank">{name}</a><br />
  <address>{address}</address><br />
</li>

<style>
  li {
    list-style: none;
  }
</style>
