---
import { astroI18n, t, l } from "astro-i18n";

const { langCode } = astroI18n;
const { lang, href, dateStart, dateEnd } = Astro.props;
const { name, location } = lang[langCode];
---

<li>
  {
    href ? (
      <a href={href} target="_blank">
        {name}
      </a>
    ) : (
      <strong>{name}</strong>
    )
  }
  <br />
  <span>{location}</span><br />
  <span
    >{
      Intl.DateTimeFormat(t("isoLangCode"), {
        year: "numeric",
        month: "long",
        weekday: "long",
        day: "numeric",
        hour: "numeric",
        timeZone: "America/Montreal",
      }).formatRange(dateStart, dateEnd)
    }</span
  ><br />
</li>

<style>
  li {
    list-style: none;
  }
</style>
