<a href="https://vivreenville.org/nos-positions/chroniques/2020/ouvrir-les-rues.aspx" target="_blank">
  Ouvrir les rues - Vivre en Ville
</a>
<a href="https://collectivitesviables.org/articles/rues-pietonnes.aspx" target="_blank">
  Rues piétonnes - Vivre en Ville
</a>

<a href="https://www.mcgilltribune.com/opinion/more-pedestrianized-streets-please-270922/" target="_blank">
  More pedestrianized streets, please - The Tribune, McGill University
</a>