---
const { href, lang, title, source } = Astro.props;
---

<li>
  <a href={href} target="_blank" lang={lang}>
    {title} - <small>{source}</small>
  </a>
</li>

<style>
  li {
    list-style: none;
  }
  a {
    display: block;
    font-style: italic;
  }

  a small {
    font-style: normal;
    white-space: pre;
  }
</style>
