---
import { t, l } from "astro-i18n";
import { Langs } from "../../types";

interface Props {
  otherLangCodes: Partial<Langs>[];
}

const { otherLangCodes } = Astro.props as Props;
const { url } = Astro;
---

{
  otherLangCodes.map((langCode) => (
    <a class="lang-choice" href={l(url.pathname, {}, langCode)} lang={langCode}>
      {t(`otherLangs.${langCode}`)}
    </a>
  ))
}

<style>
  a.lang-choice {
    font-weight: bold;
    color: white;
  }
</style>
