---
import { t, l } from "astro-i18n";

const { otherLangCodes } = Astro.props;
---

{
  otherLangCodes.map((langCode) => (
    <a
      class="lang-choice"
      href={l("/", {}, langCode).replace("fr/", "")}
      lang={langCode}
    >
      {t(`otherLangs.${langCode}`)}
    </a>
  ))
}

<style>
  a.lang-choice {
    font-weight: bold;
    color: white;
  }
</style>
