---
import { astroI18n, t, l } from "astro-i18n"
export interface Props {
	title: string;
}

astroI18n.init(Astro)

const { title } = Astro.props as Props;
---

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width">

  <meta charset="UTF-8">
  <meta name="description" content={t('siteDescription')}>
  <meta name="author" content={t('siteName')}>

  <meta property="og:title" content={t('siteName')}>
  <meta property="og:type" content="website">
  <meta property="og:url" content="https://lawellpietonne.com/">
  <meta property="og:image" content="/img/la-well-pietonne-logo-og.png">
  <meta property="og:image:type" content="image/png">
  <meta property="og:image:width" content="1200">
  <meta property="og:image:height" content="1200">
  <meta property="og:image:alt" content={t('siteName')}>
  <meta property="og:description" content={t('siteDescription')}>

  <title>{title}</title>
</head>
<body>
	<slot />
</body>
</html>

<style is:global>
  @import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@400;600&display=swap');

  :root {
    --main-family: 'Urbanist', sans-serif;

    --font-size-base: clamp(1rem, 0.34vw + 0.91rem, 1.19rem);
		--font-size-lg: clamp(1.2rem, 0.7vw + 1.2rem, 1.5rem); 
    --font-size-xl: clamp(2.44rem, 2.38vw + 1.85rem, 3.75rem);
    --color-text: hsl(12, 5%, 4%);
    --color-bg: hsl(10, 21%, 95%);

    --la-well-green: #097d6c;
  }

  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }
  html {
    font-family: var(--main-family);
    font-size: var(--font-size-base);
    color: var(--color-text);
    background-color: var(--color-bg);
  }
  body {
    margin-bottom: 3rem;
  }
  h1 {
    font-size: var(--font-size-xl);
  }
  h2 {
    font-size: var(--font-size-lg);
  }
  code {
    font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
			Bitstream Vera Sans Mono, Courier New, monospace;
  }
  .button {
    display: block;
    padding: 0.5rem 1.5rem;
    background-color: var(--la-well-green);
    color: var(--color-bg);
    text-decoration: none;
    border-radius: 5px;
  }
</style>