---
import { astroI18n, t, l } from "astro-i18n";
export interface Props {
  title: string;
}

astroI18n.init(Astro);

const { title } = Astro.props as Props;
---

<!DOCTYPE html>
<html lang={astroI18n.langCode}>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="description" content={t("siteDescription")} />
    <meta name="author" content={t("siteName")} />

    <meta property="og:title" content={t("siteName")} />
    <meta property="og:type" content="website" />
    <meta property="og:url" content={t("siteUrl")} />
    <meta
      property="og:image"
      content={`${t("siteUrlBase")}/img/la-well-pietonne-logo-og.png`}
    />
    <meta property="og:image:type" content="image/png" />
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="1200" />
    <meta property="og:image:alt" content={t("siteName")} />
    <meta property="og:description" content={t("siteDescription")} />

    <title>{title}</title>
  </head>
  <body>
    <slot />
  </body>
</html>

<style is:global>
  @import url("https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,400;0,550;0,700;1,400&display=swap");

  :root {
    --main-family: "Urbanist", sans-serif;

    --font-size-base: clamp(1rem, 0.34vw + 0.91rem, 1.19rem);
    --font-size-lg: clamp(1.2rem, 0.7vw + 1.2rem, 1.5rem);
    --font-size-xl: clamp(2.44rem, 2.38vw + 1.85rem, 3.75rem);
    --color-text: hsl(12, 5%, 4%);
    --color-bg: hsl(10, 21%, 95%);

    --mobile: 980px;

    --border-color: #767676;
    --success-color: #0da566;
    --la-well-green: #097d6c;
    --la-well-green-lighter: #0cb097;

    accent-color: var(--la-well-green);
  }

  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }
  html {
    font-family: var(--main-family);
    font-size: var(--font-size-base);
    color: var(--color-text);
    background-color: var(--color-bg);
  }
  body {
    margin: 0;
    margin-bottom: 3rem;
  }
  h1 {
    font-size: var(--font-size-xl);
  }
  h2 {
    margin-block-start: 1.5em;
    font-size: var(--font-size-lg);
  }

  h3 {
    margin-block-start: 1.5em;
    font-weight: 550;
  }

  input {
    font-family: var(--main-family);
    color: var(--color-text);
  }

  input[type="text"],
  input[type="email"] {
    font-size: 1rem;
    padding: 0.25rem;
    appearance: none;
    border: 1px var(--border-color) solid;
    border-radius: 3px;
  }

  input[type="checkbox"] {
    margin-left: 0;
  }

  code {
    font-family: Menlo, Monaco, Lucida Console, Liberation Mono,
      DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;
  }

  a {
    color: var(--la-well-green);
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
  }

  p {
    line-height: 1.4rem;
  }

  ul {
    margin: 0;
    padding-left: 0;
  }

  .button {
    font-family: var(--main-family);
    display: inline-block;
    padding: 0.5rem 1.5rem;
    line-height: 1.2;
    text-align: center;
    background-color: var(--la-well-green);
    color: var(--color-bg);
    text-decoration: none;
    border-radius: 10rem;
    border: none;
  }

  .button[disabled] {
    background-color: transparent;
    color: var(--color-text);
  }
  .button:not([disabled]):hover {
    background-color: var(--la-well-green-lighter);
  }

  section {
    max-width: none;
    margin: 2rem;
  }
  @media (min-width: 980px) {
    section {
      max-width: 864px;
      margin: 3rem auto 3rem;
      flex-direction: row;
      justify-content: space-between;
    }
  }

  @media (min-width: 720px) {
    section.narrow {
      max-width: 720px;
    }
  }

  section.go-home {
    margin-top: 0rem;
  }

  figure {
    margin-left: 0;
    width: 100%;
    text-align: center;
  }

  figcaption {
    margin-top: 0.5em;
  }

  figure img {
    display: block;
    width: 100%;
  }
</style>
