---
import { t } from "astro-i18n"
---
<h1>{t('siteName')}</h1>
<img src="/img/la-well-pietonne-logo.svg" alt="La Well Piétonne" class="logo" />

<style>
  h1 {
    /* hide text */
    position: absolute;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
  }
  .logo {
    height: 160px;
  }
</style>