---
---
<div>
  <!-- <h1>LA WELL</h1>
  <h1>PIÉTONNE</h1> -->
  <img src="/img/la-well-pietonne-logo.svg" alt="La Well Piétonne" class="logo" />
</div>

<style>
  .logo {
    height: 160px;
  }
</style>