---
import { astroI18n, t } from "astro-i18n"

const completedSteps = [1]
---
<div class="steps">
  {[1,2,3,4].map(step => (
    <div class="steps__step">
      <div class:list={[
        "steps__step-circle", 
        {'steps__step-circle--complete': completedSteps.includes(step)}
      ]} />
      <div class="steps__step-text-container">
        <div class="steps__step-text">
          {t(`steps.${step}.title`)}
        </div>
        <small class="steps__step-subtext">
          {t(`steps.${step}.subtitle`)}
        </small>
      </div>
    </div>
  ))}
  
  <div class="steps__progress-container">
    <div class="steps__progress" />
  </div>
</div>

<style>
  :root {
    --step-circle-size: 40px;
    --step-circle-color: var(--success-color);
    --step-bg-color: #d0d0d0;
    
    --progress-pct: calc(100% * (14 / 25 / 3));
  }

  .steps {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 3rem;
    @media (min-width: 980px) {
      flex-direction: row;
      justify-content: space-between;
    }
  }

  .steps__step {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
    
    @media (min-width: 980px) {
      flex-direction: column;
      width: var(--step-circle-size);
      gap: 0.25rem;
    }
  }

  .steps__step-circle {
    width: var(--step-circle-size);
    height: var(--step-circle-size);
    border: 5px solid var(--step-bg-color);
    border-radius: 40px;
    background: var(--color-bg);
  }

  .steps__step-circle--complete {
    border-color: var(--step-circle-color);
    background: var(--step-circle-color);
  }

  .steps__step-text-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    @media (min-width: 980px) {
      justify-content: center;
      width: 200px;
    }
  }

  .steps__step-text, 
  .steps__step-subtext {
    text-align: left;
    @media (min-width: 980px) {
      text-align: center;
    }
  }

  .steps__progress-container {
    --progress: calc(100% - calc(var(--step-circle-size) * 2));
    
    width: 5px;
    height: var(--progress);
    position: absolute;
    top: var(--step-circle-size);
    left: 17px;
    background-color: var(--step-bg-color);
    z-index: -1;
    @media (min-width: 980px) {
      width: var(--progress);
      height: 5px;
      top: 17px;
      left: var(--step-circle-size);
    }
  }

  .steps__progress {
    width: 100%;
    height: var(--progress-pct);
    background-color: var(--step-circle-color);    
    position: absolute;
    @media (min-width: 980px) {
      width: var(--progress-pct);
      height: 100%;
    }
  }
</style>