---
import { t } from 'astro-i18n';
import { petitionFr } from '../etc/consts'
---

<a class="button" href={petitionFr} target="_blank">
  <span>{t('signCta')}</span><br />
  <small>{t('signCtaSubtext')}</small>
</a>

<small>must be a resident of Verdun age 15 or older</small>

<style>
  .button {
    align-self: center;
  }
</style>