---
import { t } from 'astro-i18n';
import { petitionFr } from '../etc/consts'
---

<a class="button" href={petitionFr} target="_blank">
  <span>{t('signCta')}</span><br />
  <small>{t('signCtaSubtext')}</small>
</a>

<small>{t('signCtaRequirements')}</small>

<style>
  .button {
    align-self: center;
    margin-bottom: 0.5rem;
  }
</style>