---
import { t } from 'astro-i18n';
---
<!-- <input type="email" placeholder={`${t('email')} (${t('optional')})`}/> -->

<a class="button" href={t('petitionUrl')} target="_blank">
  <span>{t('signCta')}</span><br />
  <small>{t('signCtaSubtext')}</small>
</a>

<small>{t('signCtaRequirements')}</small>

<style>
  input {
    font-size: 1rem;
    width: 280px;
    padding: 0.25rem;
  }
</style>