---
import { petitionFr } from '../etc/consts'
---
<p>
  <a class="button" href={petitionFr} target="_blank">Signer la pétition</a>
</p>
<p>
  <small>on montreal.ca</small><br />
  <small>takes 5 minutes</small>
</p>

<style>

</style>