---
import { astroI18n, t } from "astro-i18n";

const lang = astroI18n.langCode;
---

<h3>{t("byEmail")}</h3>
<form>
  <input type="email" name="email" placeholder={t("email")} required />
  <label
    ><input type="checkbox" name="get_involved" /><small
      >{t("getInvolved")}</small
    ></label
  >
  <button class="button subscribe" type="submit">{t("subscribe")}</button>
  <button class="button subscribed hidden" disabled>{t("subscribed")}</button>
  <small class="error hidden">{t("formError")}</small>
</form>

<h3>{t("onSocialMedia")}</h3>
<p>
  {t("followUsOn")}
  <a href="https://www.instagram.com/lawellpietonne/" target="_blank"
    >Instagram</a
  >
  {t("and")}
  <a href="https://www.facebook.com/lawellpietonne" target="_blank">Facebook</a
  >.
</p>

<script define:vars={{ lang }}>
  const $form = document.querySelector("form");
  const $email = document.querySelector('input[name="email"]');
  const $getInvolved = document.querySelector('input[name="get_involved"]');
  const $subscribe = document.querySelector(".subscribe");
  const $subscribed = document.querySelector(".subscribed");
  const $error = document.querySelector(".error");

  $form.addEventListener("submit", async (e) => {
    e.preventDefault();

    try {
      const formData = new FormData($form);
      const formProps = Object.fromEntries(formData);

      const { email, get_involved } = formProps;

      $email.disabled = true;
      $getInvolved.disabled = true;
      $subscribe.disabled = true;

      const fetchResponse = await fetch(
        "/.netlify/functions/simple-subscribe",
        {
          method: "POST",
          body: JSON.stringify({
            email,
            fields: { get_involved, lang },
          }),
        }
      );

      await fetchResponse.json();

      $subscribe.classList.add("hidden");
      $subscribed.classList.remove("hidden");
    } catch {
      $email.disabled = false;
      $getInvolved.disabled = false;
      $subscribe.disabled = false;
      $error.classList.remove("hidden");
    }
  });
</script>

<style>
  form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .hidden {
    display: none !important;
  }

  label {
    margin-top: 0.25rem;
  }

  input[name="email"] {
    width: 260px;
  }
  button {
    margin: 0.75rem 0;
  }
</style>
