---
---
<div class="steps">
  <div class="steps__step">
    <div class="steps__step-circle" />
    <div class="steps__step-text">
      Draft petition
    </div>
    <small class="steps__step-subtext">
      25 Signatures
    </small>
  </div>
  <div class="steps__step">
    <div class="steps__step-circle" />
    <div class="steps__step-text">
      Petition text approved
    </div>
    <small class="steps__step-subtext">
      by the borough of Verdun
    </small>
  </div>
  <div class="steps__step">
    <div class="steps__step-circle" />
    <div class="steps__step-text">
      Collection of signatures
    </div>
    <small class="steps__step-subtext">
      2500 signatures
    </small>
  </div>
  <div class="steps__step">
    <div class="steps__step-circle" />
    <div class="steps__step-text">
      Public consultation
    </div>
  </div>
</div>

<style>
  .steps {
    display: flex;
    justify-content: center;
    gap: 1rem;
  }
  .steps__step {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .steps__step-circle {
    border: 5px red solid;
    width: 40px;
    height: 40px;
    border-radius: 40px;
  }
</style>