---
import { t } from 'astro-i18n';
---
<a class="button" target="_blank">{t('volunteerCta')}</a>
<small>{t('volunteerCtaSubtext')}</small>


<style>
  .button {
    align-self: center;
    margin-bottom: 0.5rem;
  }
</style>
