---
import { astroI18n } from "astro-i18n";
import IndexWelcomeEn from "./WelcomeEn.md";
import IndexWelcomeFr from "./WelcomeFr.md";

astroI18n.init(Astro);
---

<div class="welcome-content">
  {astroI18n.langCode === "en" ? <IndexWelcomeEn /> : <IndexWelcomeFr />}
</div>

<style>
  .welcome-content {
    max-width: 540px;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      margin-block: 0;
    }
    p {
      margin-block-start: 0.5em;
    }
  }
</style>
